.container{
    
height: 979px;
width: 50%;
border: 1px solid black;
}
.demo1{
    background: rgb(247, 140, 140);
}
.demo2{
    height: 500px;
    width: 50%;
    flex-direction: left;
}
.subdiv{
    display:flex;
}
.demo4{
    color: rgb(78, 134, 255);
}